# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
    version: 2
    renderer: networkd
    ethernets:
        veth0:
            dhcp4: no
            dhcp6: no
            accept-ra: no
            addresses:
            - {{ veth0_network_part }}.1/32
            #
            # THE FOLLOWING IS EXPERIMENTAL
            - {{ veth0_network_ipv6_prefix }}::1/128
            # END EXPERIMENTAL
            #
            match:
                macaddress: {{ veth0_macaddress }}
