#!/usr/sbin/nft -f
# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

# Flush rules
flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0;
        }
        chain forward {
                type filter hook forward priority 0;
        }
        chain output {
                type filter hook output priority 0;
        }
}

table inet nat {

    chain prerouting {
        type nat hook prerouting priority dstnat;
    }

    chain output {
        type nat hook output priority filter;

        # Map localhost DNS port 53 to Consul listening port
        udp dport 53 ip daddr 127.0.0.1 dnat ip to {{ veth0_network_part }}.1:8600
        tcp dport 53 ip daddr 127.0.0.1 dnat ip to {{ veth0_network_part }}.1:8600
        #
        # THE FOLLOWING IS EXPERIMENTAL
        udp dport 53 ip6 daddr ::1/128 dnat ip6 to [{{ veth0_network_ipv6_prefix }}::1]:8600
        tcp dport 53 ip6 daddr ::1/128 dnat ip6 to [{{ veth0_network_ipv6_prefix }}::1]:8600
        # END EXPERIMENTAL
        #
    }

    chain postrouting {
        type nat hook postrouting priority srcnat;
    }
}
